@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  background-color: #130f0c;
  /* overflow-y: hidden; */
  scroll-behavior: smooth;
  font-family: gilroy;
}
.swiper {
    /* width: 100vw !important;   */
    /* height: 100vh !important; */}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
}

a:hover {
    color: #ea9534;
  }
/*   
  body {
    background: #0e0a0a;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */

  